<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <connectionStrings>
        <add name="DAP_DB" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;database=DAP;server=localhost;user id=DAP2018;Password=DAP2018;SslMode=none" />
    </connectionStrings>
</configuration>